<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
             class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

          <div class="form-outline mb-4">
            <input [(ngModel)]="form.username"  [ngModelOptions]="{standalone: true}" id="form3Example3" class="form-control form-control-lg" required
                   #username="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && username.errors }"/>

            <label class="form-label" for="form3Example3">User name </label>
            @if (username.errors && f.submitted) {
            <div class="invalid-feedback">Username is required!</div>
            }
          </div>

          <div class="form-outline mb-3">
            <input  [(ngModel)]="form.password"  [ngModelOptions]="{standalone: true}" name="password"  type="password" id="form3Example4" class="form-control form-control-lg" required
                    #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.errors }"/>
            <label class="form-label" for="form3Example4">Password</label>
            @if (password.errors && f.submitted) {
            <div class="invalid-feedback">Password is required!</div>
            }

          </div>

<!--    REMOVED OPTION TO SELECT ROLES FROM LOGIN PAGE ( WILL IMPLEMENT DIFFERENT LOGIN PAGE FOR DIFFERENT ROLES)      <div>-->

<!--            <label>Role</label>-->
<!--            <select [(ngModel)]="user.authority" [ngModelOptions]="{standalone: true}" name ="authority">-->
<!--              <option *ngFor="let role of roles" [ngValue]="role">{{role.authority}}</option>-->
<!--            </select>-->
<!--          </div>-->


          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register"
                                                                              class="link-danger">Register</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>
